<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kyle.vibe_sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/kyle/Projects/kylekkkk61/scripts/auto_push.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/vibe_sync_launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/vibe_sync_launchd_err.log</string>
</dict>
</plist>
